<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "static\css\style.css">
    <link rel="stylesheet" href= "static\css\utils.css">

    <title>main</title>

</head>

<body>
    <header> 
        <H1 class="logo"><a href="#">Not Lamma</a></H1>
        <nav>
            <ul class="nav__link ">
                <li><a href="#">chat</a></li>
                <li><a href="#">my profile</a></li>
                <li><a href="#">classes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}
            <section >
                <div class="container">
                    <table class="chat__log ">
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.content }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="chat__conatiner">
                    <form  class="chat_box" action="/chat" method="POST">
                        <input type="text" name="content" id="content">
                        <input type ="submit" value="Send">
                    </form>
                </div>
                
            </section>
        {% endblock %}
    </main>
    <div></div>
</body>
</html>