
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static\css\components\header.css">
    <link rel="stylesheet" href="static\css\utils.css">
    <link rel="stylesheet" href= "static\css\style.css">
    <link rel="stylesheet" href= "static\css\title.css">
    <link rel="stylesheet" href="static\css\chat.css">



<a href="https://www.youtube.com/watch?v=T1f-eLyFY8M" ><img src= "static\image\suisei-hololive.gif"></a>

</html>

