body {
    font-family: 'Arial', sans-serif;
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#chat-container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

#messages {
    list-style-type: none;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #ccc;
}

#messages li {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
    max-width: 80%;
}

#messages li:nth-child(odd) {
    background-color: #d1edff;
    align-self: flex-start;
    margin-left: 10px;
}

#messages li:nth-child(even) {
    background-color: #e7ffc7;
    align-self: flex-end;
    margin-right: 10px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#input-container {
    display: flex;
}

#input-container input {
    flex-grow: 1;
    margin-right: 10px;
}

#input-container button {
    width: auto;
    padding: 10px 20px;
}
